html {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;

  body {
    margin: 0px;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    cursor: crosshair;

    .main {
      width: 100%;
    }
    overflow: hidden;
  }

  .bee {
    position: absolute;
  }

  .col {
    position: relative;
    min-height: 1px;
    float: left;
  }

  .full-width {
    width:100%;
  }

  .split {
    width:50%
  }
}
