<!DOCTYPE html>
<html ng-app="bee-sharp" ng-controller="MainController as mainCtrl">
<head>
    <title>Bee sharp to win.</title>
    <!-- inject:css -->
    <!-- endinject -->

</head>
<body click-tracker ng-cloak>
    <div class="col full-width">
        <div class="col split" ng-class="{true: 'split', false: 'full-width'}[mainCtrl.gameInProgress()]">
            <h1 class="title">Bee Sharp</h1>
        </div>

        <div class="col split" ng-if="mainCtrl.gameInProgress()" ng-if="mainCtrl.gameInProgress()">
            <h2 class="stat">
                Sprays left: <span ng-bind="mainCtrl.shotsLeft()"></span>
            </h2>
            <h2 class="stat">
                Bees buzzed: <span ng-bind="mainCtrl.beesKilled()"></span>
            </h2>
        </div>
    </div>

    <div ng-if="mainCtrl.gameInProgress()">
        <div ng-include="'app/routes/main.html'" ></div>
    </div>
    <div class="col full-width center" ng-if="mainCtrl.gameLost()">
        <h1>Oh oh. You missed the bees.</h1>
        <img src="http://i.imgur.com/5k8DwJI.gif">
    </div>
    <div class="col full-width center" ng-if="mainCtrl.gameWon()">
        <h1>Time for some honey!</h1>
        <p>You scored:</p>
        <p class="score" ng-bind="mainCtrl.beesKilled()"></p>

        <img src="http://home.comcast.net/~brmetcalf/aotw/img/pooh.gif">
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="//cdn.rawgit.com/luster-io/impulse/master/impulse.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js"></script>

    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>